#calendar {
    padding-top: 10rem;
    font-size: 15px;
    line-height: 1.4;
    color: #444;
    margin: 0;
    flex-direction: column;
    align-items: center;
    
}
.calendar-wrapper {
  margin: 0px auto;
  display: block;
}

.container-calendar {
  background: #ffffff;
  margin: 0 auto;
  display: block;
  font-size: 2rem;
	font-weight: 200;
}

.button-container-calendar {
    display: block;
}
.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background:  transparent;
  color: var(--primary);
  border: 0;
  font-size: 2.5rem;
}
.button-container-calendar button:focus {
  outline: none;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td, .table-calendar th {
    height: 7rem;
    width:7rem;
   padding: .5rem; 
  border: 1px solid #e2e2e2;
  text-align: right;
  vertical-align: top;  
    position: relative;
}
.table-calendar th {
    background: rgba(110,110,110,.05);
}
#thead-month th {
    border: 0;
    height: 2rem;
    background: transparent;
    text-align: center;
    font-size: .7rem;
    text-transform: uppercase;
}
td span {
    font-size: .7rem;
    right: .5rem; 
} 
.date-picker.selected {
    background-color: rgba(110,110,110,.05);
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
  display: none;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}