/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

 
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Rubik', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0em;
	line-height: 1.6em;
	font-family: Rubik;
	font-weight: 300;
	font-style: normal;
	font-size: inherit;
	font-size: 18px;
	letter-spacing: .06em;
	line-height: 1.8em;
	text-transform: none;
	color: var(--primary);
	margin: 0;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 32px;
	letter-spacing: 0em;
	line-height: 1em;
	font-family: 'Rubik';
	font-weight: 300;
	font-style: normal;
	font-size: 80px;
	letter-spacing: .01em;
	line-height: 1.4em;
	text-transform: none;
	text-rendering: optimize-legibility;
	-webkit-font-smoothing: subpixel-antialiased;
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

img {
	border: 0;
}

button {
	overflow: visible;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	padding: 0 60px;
}

section, div, footer, header {
	/* outline: 1px dotted red; */
}

div, section, header, nav, footer {
	display: flex;
	box-sizing: border-box;
}

.heading {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 3rem;
}
:root {
	--white: white;
	--primary: #000000;
	--secondary: #2824a9;
}

/* Desktop Nav */

#main-nav {
	min-height: 9vh;
	justify-content: space-between;
	position: relative;
	overflow: hidden;
}

#mobile-nav {
	display: none;
	position: relative;
}
.nav-left, .nav-center, .nav-right {
	/* flex-basis: 1; */
}
.nav-left ul {
	display: flex;
	align-items: center;
}

.nav-left li {
	display: inline-block;
	margin-right: 2rem;
}

.nav-left a {
	font-size: 1rem;
	/* font-size: 1.25rem; */
}

.nav-center {
	justify-content: center;
}

.nav-center h1 {
	font-size: 2.5rem;
	font-weight: 500;
}

.nav-icons {
	align-items: center;
	justify-content: space-between;
}

.nav-icons i {
	margin-right: 2rem;
	font-size: 1.25rem;
}

.nav-right {
	align-items: center;
	justify-content: space-between;
}

.nav-right-button {
	display: inline-block;
	/* margin-left: 4.5rem; */
	padding-top: .7rem;
	padding-bottom: .7rem;
	padding-left: 2rem;
	padding-right: 2rem;
	background-color: transparent;
	color: var(--secondary);
	border: 2px solid var(--secondary);
}

.nav-right-button:hover {
	color: var(--white);
	background-color: var(--secondary);
	border-color: var(--secondary);
	transition: background-color 0.1s linear, color 0.1s linear;
}
.mobile-menu {
	position: absolute;
	top: 10vh;
	bottom: 0;
	height: 90vh;
	width: 100vw;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1000;
} 
.open {
	left:0;
	transition: 500ms;
	transition-timing-function: ease-in-out;
}
.closed {
	left:-100%;
	transition: 500ms;
	transition-timing-function: ease-in-out;
}
header {
	min-height: 87vh;
	background: padding-box;
}

.header-image {
	/* background: url('./500X374.jpg'); */
	background: url('./images/minecraft-655158_1280.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.header-heading {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header-heading h1 {
	font-size: 10rem;
	text-transform: uppercase;
	color: var(--white);
}

.header-heading p{
	color: var(--white);
	margin-bottom: 2rem;
}
.bigger-3 {
	font-size: 3rem;
	position: relative;
	top: .3rem;
}
.header-heading button {
	display: inline-block;
	padding-top: .8rem;
	padding-bottom: .8rem;
	padding-left: 2rem;
	padding-right: 2rem;
	background-color: transparent;
	color: var(--white);
	border: 2px solid var(--white);
}

.header-heading button:hover {
	color: var(--primary);
	background-color: var(--white);
	border-color: var(--white);
	transition: background-color 0.1s linear, color 0.1s linear;
}

/* About Section */

#about {
	min-height: 40vh;
	justify-content: center;
	align-items: center;
	padding-top: 200px;
	padding-bottom: 200px;
	
}
#about p {
	font-size: 2.25rem;
	line-height: 3.5rem;
	width: 60vw;
}
.bold {
	font-weight: 900;
}
.come-in {
	transform: translateY(150px);
	animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
	animation-duration: 0.6s; /* So they look staggered */
  }
  
  @keyframes come-in {
	to { transform: translateY(0); }
  }

/* Team Section*/

#team {
	margin-bottom: 200px;
	align-items: center;
	flex-direction: column;
}
.box-row {
	justify-content: space-between;
}
#team .img-wrapper {
	width: calc(100%/4 - 1.5rem);
	flex-direction: column;
}
.img-wrapper h3 {
	margin-top: 2rem;
	font-weight: bold;
}
.img-box {
	width: 100%;
}
.img-box {
	width: 100%;
}
 
/* Merch or Slideshow */
#merch {
	margin-bottom: 200px;
	flex-direction: column;
	position: relative;
	align-items: center;
}

.slide {
	/* display: none; */
	width: 100%;
	height: 100%;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#chevron-left {
	position: absolute;
	top: 50%;
	/* left: 0; */
	left: 2rem;
	color: var(--primary);
}

#chevron-right {
	position: absolute;
	top: 50%;
	/* right: 0; */
	right: 2rem;
	color: var(--primary);
}

#merch i, a {
	/* font-size: 64px; */
	font-size: 2rem;
	cursor: pointer;
}


.active {
	background-color: var(--primary);
}


/* Blog Excerpts */

#blog {
	/* padding-top: 200px; */
	flex-direction: column;
	position: relative;
	min-height: 65vh;
	justify-content: center;
	background-color: var(--secondary);
}
#blog h2.heading {
	position: absolute;
	top: 25vh;
	color: var(--white);
	font-size: 2.5rem;
}
.blog-marquee {
	margin-top: 10vh;	
	justify-content: space-between;
}
.post {
	flex-direction: column;
	color: var(--white);
	padding-right: 2rem;
}
.date, .post-title, .post-link {
	color: inherit;
}
.date {
	font-size: .9rem;
}
.post-link {
	font-size: .9rem;
	font-weight: 700;
}
.post-title {
	font-size: 1.2rem;
	line-height: 1.5rem;
	text-transform: uppercase;
}

#chevron-left-blog {
	position: absolute;
	top: 50%;
	right: 7%;
}

#chevron-right-blog {
	position: absolute;
	top: 50%;
	right: 0;
}
#blog .feather.icon {
	color: var(--white);
	font-size: 36px;
	cursor: pointer;
}

.fade-in {
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;
	}
	@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
	
	@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
	}
/* Calendar */

#upcoming-events {
	padding-top:125px;
	flex-direction: column;
	align-items: center;
}

#upcoming-events > .calendar .heading {
	font-size: 2rem;
	font-weight: 200;
	text-transform: none;
	justify-content: center;
}
.month-indicator {
	justify-content: center;
	margin-top: 50px;
	position: relative;
}
#upcoming-events i {
	cursor: pointer;
}

#month-control-left {
	position: absolute;
	top: 50%;
	left: 0;
}

#month-control-right {
	position: absolute;
	top: 50%;
	right: 0;
}
.calendar {
	flex-direction: column;
}
.day-of-week, .date-grid {
	display: grid;
	grid-row-gap: 5px;
	column-gap: 5px;
	grid-template-columns: repeat(7, 1fr);
}
.day-of-week div {
	color: var(--secondary);
	text-transform: uppercase;
	font-size: .7rem;
	justify-content: center;
}
#upcoming-events button {
	height: 124px;
	width: 124px;
	color: var(--secondary);
	background-color: #f8f8f8;
	border-style: solid;
	border-color: #f8f8f8;
	/* margin-left: 5px; */
	/* margin-bottom: 5px; */
	position: relative;
	font-size: .7rem;
}
button time {
	position: absolute;
	top: 0;
	right: 5%;
}

/* Our Partners */

#our-partners {
	margin-top: 200px;
	flex-direction: column;
	align-items: center;
	min-height: 33vh;
	padding-bottom: 100px;
}

/* Footer */

footer.container {
	min-height: 25vh;
	background-color: var(--secondary);
	flex-direction: column;
	align-items:center;
	padding-top: 100px;
	position: relative;
}
footer h3, footer p, footer a, footer i {
	color: var(--white);
}
.inner-footer {
	width: 100%;
}
.inner-footer > div {
	width: calc(100%/3);
	height: 25vh;
	align-items: center;
}
footer h3 {
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: 30px;
}
#contact {
	flex-direction: column;
	justify-content: center;
}
.inner-footer > .footer-logo {
	justify-content:center; 
	/* align-items: flex-start;  */
}
.footer-logo-logo {
	color: var(--white);
	font-size: 3em;
	text-transform: uppercase;
	padding-bottom: .9em;
}
.logo-container {
	width: 100%;
	
}

#follow {
	flex-direction: column;
	justify-content: center;
}
#our-partners .heading {
	margin-bottom: 150px;
}
.partner-logo {
	width: calc(25%);
	justify-content: center;
	font-size: 2.8rem;
}
.footer-icons .feather.icon {
	font-size: 1.2rem;
	padding: 0rem 0.5rem;
	/* margin-bottom: 3rem; */
}
.colophon.fader {
	position: absolute;
	bottom: 2rem;
}

footer {
	background-color: var(--secondary);
}

 @media only screen and (max-width: 800px) {
	.container {
		padding: 0 15px;
	}
	/* nav area */
	#main-nav {
		display: none;
	}

	/* mobile menu */

	#mobile-nav {
		display: flex;
		justify-content: space-between;
		height: 15vh;
		position: fixed;
		top: 0;
		width: 100%;
		background-color: var(--white);
		z-index: 100;
	}
	.top-right {
		margin-left: 3rem;
		margin-right: 0;
	}
	.top-right svg {
		padding-right: 0;
	}
	.heading {
		font-size: 2rem;
	}
	
	.hidden {
		display: none;
	}

	.nav-center {
		padding: 1.4rem 0;
	}
	.nav-center h1 {
		 margin: 0 auto;
	}
	.nav-right {
		margin-bottom: -3rem;
		justify-content: center;
	}
	.nav-icons i {
		margin: 0;
		padding: 0 .75rem;
	}
	.nav-mobile {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.nav-mobile h3 {
		font-size: 1.75rem;
		margin-bottom: 2rem;
	}
	#mobile-menu-button {
		background-color: inherit;
		outline: none;
		border: none;
	}
	.nav-right-button {
		margin: 0px auto 1.5rem auto;
		width: 60%;
	}
	button svg {
		width: 30px;
		padding-right: 10px;
	}
	rect, text {
		fill: rgba(29,29,29,.7);
	}
	text {
		font-size: 40px;
	}
	header {
		margin-top: 15vh;
	}
} 


@media only screen and (max-width: 400px) {
	
	#mobile-nav {
		justify-content: flex-end;
	}

	/* header */

	
	.header-heading h1 {
		font-size: 5rem;
		line-height: 5rem;
		margin-bottom: 2rem;
	}
	header p {
		text-align: center;
	}
	/* about */

	#about {
		padding: 8rem 0;
	}
	#about p {
		font-size: 1.5rem;
		line-height: 2.5rem;
		width: 80vw;
	}
	.box-row {
		flex-direction: column;
	}

	/* team */

	#team {
		margin-bottom: 5rem;
	}
	#team .img-wrapper {
		width: 100%;
		flex-direction: column;
	}
	#team img {
		margin-bottom: 2rem;
	}

	/* merch */

	#merch {
		min-height: 65vh;
		margin-bottom: 0;
	}
	#merch i {
		font-size: 44px;
	}
	.img-wrapper h3 {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}
	.slide.fade {
		display: flex;
	}

	/* upcoming events */

	#upcoming-events {
		padding-top: 5rem;
	}
	#upcoming-events .heading {
		margin-bottom: 1rem;
	}
	#upcoming-events button {
		height: 100%;
		width: 100%;
		color: var(--secondary);
		background-color: #f8f8f8;
		border-style: solid;
		border-color: #f8f8f8;
		/* margin-left: 5px;
		margin-bottom: 5px; */
		position: relative;
		font-size: .7rem;
	}
	.day-of-week, .date-grid {
		grid-row-gap: 1px;
		column-gap: 1px;
	}
	.calendar {
		width: 100%;
	}
	#month-heading {
		margin-bottom: 3rem !important;
	}
	.date-grid {
		width: 90vw;
		height: 80vw;
	}
	.post:nth-of-type(3), .post:nth-of-type(4) {
		display: none;
	}

	/* blog */

	#blog h2.heading {
		top: 15vh;
		color: var(--white);
		font-size: 2rem;
	}
	.blog-marquee {
		margin-top: 20vh;	
		justify-content: space-between;
	}

	/* our partners */

	#our-partners {
		margin-top: 5rem;
	}
	#our-partners .heading {
		font-size: 2rem;
		margin-bottom: 3rem;
	}
	.logo-container {
		flex-direction: column;
		align-items: center;
	}
	.partner-logo {
		padding: 3rem 0;
	}

	/* footer */

	.inner-footer {
		flex-direction: column;
		align-items: center;
	}
	.inner-footer > div {
		width: 100%;
		height: 25vh;
		align-items: center;
	}
	footer h3 {
		margin-bottom: 1.5rem;
	}
	.inner-footer > div {
		/* margin-bottom: 3rem; */
	}
	.footer-logo {
		/* padding: 3rem; */
		align-items: center;
	}
	.footer-logo-logo {
		color: var(--white);
		font-size: 3em;
		text-transform: uppercase;
		padding-bottom: 0;
	}
	.header-heading h1 {
		text-align: center;
	}
	.header-heading> p{
		width: 80vw;
	}
	.colophon .fader a, .colophon p.fader {
		position: relative;
		font-size: 1rem;
	}
	
  }